.letmein input {
  font-size: 30px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid;
  font-family: 'PT Serif';
}

.letmein button {
  font-size: 24px;
  border: 0;
  background: #ac4142;
  border-radius: 4px;
  width: 2.25rem;
  color: white;
}

#incorrect {
  display:none;
  color: #ac4142;
  }

body {
  background: url('../hb60.png') fixed 99% 1% no-repeat;
}

.map .locked h4 {
  color: #ddd;
}

.sidebar-divider {
  height: 5em;
  border-top: 1px solid rgba(255,255,255,.1); 
}

.map .locked a {
  pointer-events: none !important;
  cursor: default;
  color: #eee;
}

.pagination a.locked {
  pointer-events: none !important;
  cursor: default;
  color: gray;
}
