<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">

   <a class="sidebar-nav-item{% if page.url == '/map/index.html' %} active{% endif %}" href="{{ site.baseurl }}/map">Map</a>
   <a class="sidebar-nav-item{% if page.url == '/data-sources/' %} active{% endif %}" href="{{ site.baseurl }}/data-sources/">Data Sources</a>
   <a class="sidebar-nav-item{% if page.url == '/installfest/' %} active{% endif %}" href="{{ site.baseurl }}/installfest/">Installfest</a>

   <div class="sidebar-divider"></div>

   <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ site.baseurl }}/about/">About</a>



    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
